.footer {
  &__form {
    overflow: hidden;
    position: relative;
    display: grid;
    justify-content: start;
    gap: 24px;
    grid-template-columns: auto 1fr 1fr minmax(200px, 342px);
    grid-template-areas: "btn input-1 input-2 label";
    padding: 54px 80px;
    text-align: right;

    @media screen and (max-width: 1100px) {
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "btn label"
        "input-1 input-2";
    }

    &__input {
      color: rgba(0, 0, 0, 0.5);
      text-align: right;
      cursor: pointer;
    }

    &__button {
      grid-area: btn;
    }

    &__input-1 {
      grid-area: input-1;
    }

    &__input-2 {
      grid-area: input-2;
    }

    &__label {
      grid-area: label;
    }

    &__subtitle {
      font-size: 16px;
      color: #004990;
      margin-bottom: -5px;
    }

    &__title {
      font-size: 24px;
      font-weight: 700;
      color: #004990;
    }

    &__bg-container {
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    &__ellipse-178 {
      position: absolute;
      left: 529.67px;
      top: -100px;
      width: 581.52px;
      height: 279.16px;
    }
    &__ellipse-177 {
      position: absolute;
      width: 581.52px;
      height: 279.16px;
      left: 1175.67px;
      top: -24px;
    }
    &__ellipse-176 {
      position: absolute;
      width: 581.52px;
      height: 279.16px;
      left: 1192.67px;
      top: -228px;
    }
    &__ellipse-175 {
      position: absolute;
      width: 581.52px;
      height: 279.16px;
      left: -39.2px;
      top: -135.32px;
    }
    &__ellipse-174 {
      position: absolute;
      width: 1504.95px;
      height: 722.45px;
      left: -24.56px;
      top: -646.09px;
    }
    &__ellipse-173 {
      position: absolute;
      width: 1504.95px;
      height: 722.45px;
      left: 318.49px;
      top: -373.27px;
    }
  }

  &__donation {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    column-gap: 70px;
    padding: 54px 80px;
    background: rgba(36, 60, 204, 0.05);
    text-align: right;

    &__column {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      row-gap: 16px;
      color: #000;

      &__title {
        font-weight: 700;
        font-size: 24px;
        line-height: 23px;
        letter-spacing: -0.02em;
      }

      &__bar {
        width: 22px;
        height: 1px;
        background-color: #004990;
        border-radius: 20px;
      }

      &__text {
        font-size: 18px;
        line-height: 24px;

        &_size_small {
          font-size: 16px;
          max-width: 250px;
        }
      }

      &__phone-number {
        font-weight: 600;
        font-size: 32px;
        line-height: 42px;
        color: #004990;
      }

      &__social-networks {
        display: flex;
        flex-direction: row-reverse;
        column-gap: 12px;
      }

      &__button {
        margin-top: -3px;
        padding: 12px 72px;
      }

      &__medals {
        display: flex;
        column-gap: 8px;
      }
    }
  }

  &__gratitude {
    display: flex;
    justify-content: space-between;
    padding: 20px 80px 32px;
    background-color: #edeef8;
    color: #000;

    &__left {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 10px;
      margin-left: 40px;
    }

    &__title {
      font-weight: 700;
      font-size: 24px;
      line-height: 23px;
      letter-spacing: -0.02em;
    }

    &__icon-container {
      display: flex;
      column-gap: 0px;
    }

    &__icon-item {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__icon-text {
      font-size: 14px;
    }

    &__right {
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      text-align: right;
    }

    &__text-1 {
      max-width: 683px;
      margin-top: 20px;
      font-weight: 300;
      font-size: 14px;
      line-height: 21px;
    }

    &__text-2 {
      font-size: 14px;
      font-weight: 400;
      letter-spacing: -0.02em;
    }
  }
}
