@font-face {
  font-family: "Assistant";
  font-weight: 300;
  src: url("../assets/fonts/Assistant-Light.ttf");
}

@font-face {
  font-family: "Assistant";
  font-weight: 400;
  src: url("../assets/fonts/Assistant-Regular.ttf");
}

@font-face {
  font-family: "Assistant";
  font-weight: 500;
  src: url("../assets/fonts/Assistant-Medium.ttf");
}

@font-face {
  font-family: "Assistant";
  font-weight: 600;
  src: url("../assets/fonts/Assistant-SemiBold.ttf");
}

@font-face {
  font-family: "Assistant";
  font-weight: 700;
  src: url("../assets/fonts/Assistant-Bold.ttf");
}
