h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 64px;
  line-height: 68px;
  font-weight: 500;

  @media screen and (max-width: 768px) {
    font-size: 40px;
    line-height: 40px;
  }

  @media screen and (max-width: 500px) {
    font-size: 32px;
    line-height: 30px;
  }
}

h2 {
  font-size: 30px;
  font-weight: 600;

  @media screen and (max-width: 768px) {
    font-size: 24px;
  }

  @media screen and (max-width: 500px) {
    font-size: 18px;
  }
}

h3 {
  font-size: 20px;
  font-weight: 500;

  @media screen and (max-width: 768px) {
    font-size: 16px;
  }
}

h4 {
  font-size: 18px;
  font-weight: 400;
  color: rgba(1, 1, 1, 0.6);

  @media screen and (max-width: 768px) {
    font-size: 14px;
  }
}

ul {
  padding: 0;
}

a {
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;

  @media screen and (max-width: 768px) {
    font-size: 14px;
  }
}

input {
  padding: 16px 24px;
  background-color: #fff;
  mix-blend-mode: normal;
  border: 0.632166px solid #004990;
  border-radius: 40px;
}
